$line-color-covered: #e6f5d0;
$line-color-not-covered: #fccccc;
$line-color-dark-not-covered: #fcdfdf;

.coverage {
    display: flex;
    flex-flow: row;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.1875rem;
    font-size: 1rem;
    margin: 0;

    border: 1px solid #f1f1f1;
    background-color: #fefefe;

    > tbody {
        border: none;
        background-color: initial;

        > tr {
            .code-lines-container {
                .line {
                    text-align: right;

                    > a {
                        color: #0074d9;
                        width: 100%;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .code-hit-counter {
                .line {
                    text-align: right;
                    background-color: lightgrey;
                    padding: 0 0.25rem;

                    &.covered {
                        background-color: $line-color-covered;
                    }

                    &.not-covered {
                        background-color: $line-color-not-covered;
                    }
                }
            }

            .code-container {
                display: flex;
                flex-flow: column;
                padding-left: 0;

                .line {
                    white-space: pre;

                    &.not-covered {
                        background-color: $line-color-not-covered;
                    }

                    .not-covered {
                        background-color: $line-color-dark-not-covered;
                    }
                }
            }

            .line {
                height: 19px;
            }
        }
    }
}
